{% extends 'layout/manage.html' %} 
{% load static %}
{% block css %}
<style>
  .card{
      margin-top: 2rem;
  }
  .card .card-header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
      }
  .card > .card-header a {
          text-decoration: none;
      }
  .card > .card-header span {
          padding: 0 5px;
      }
  .error-msg {
          color:red;
          position: absolute;
          font-size: 12px;
      }
  a {
          text-decoration: none;
      }
  .upload-progress {
    position: fixed;
    right: 2px;
    bottom: 2px;
    width: 400px;
  }
  .upload-progress .card .card-header{
    display: block; 
    font-weight: 500; 
    color:white; 
    background-color:#0D6EFD
  }
  .upload-progress .progress-error {
    color: red;
  }
  .swal-text {
    background-color: #FEFAE3;
    padding: 17px;
    border: 1px solid #F0E1A1;
    display: block;
    margin: 22px;
    text-align: center;
    color: #61534e;
}

</style>
{% endblock css %}
{% block title %}File{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <div>
        <a href="{% url 'tracer:file' project_id=request.tracer.project.id %}">
          <i class="fas fa-home" aria-hidden="true"></i>
          <span>File Repository</span>
        </a>
        {% for record in breadcrumb_list %}
        <a
          href="{% url 'tracer:file' project_id=request.tracer.project.id %}?folder={{record.id}}"
        >
          <i class="fas fa-caret-right" aria-hidden="true"></i>
          <span>{{ record.name }}</span>
        </a>
        {% endfor %}
      </div>

      <div class="function">
        <label class="btn btn-primary btn-sm" for="uploadFile">
          <input
            class="d-none"
            type="file"
            name="uploadFile"
            id="uploadFile"
            multiple
          />
          <i class="fas fa-upload" aria-hidden="true"></i> Upload File
        </label>
        <a
          type="button"
          class="btn btn-success btn-sm"
          data-bs-toggle="modal"
          data-bs-target="#addModal"
          data-whatever="New Folder"
        >
          <i class="fas fa-plus-circle" aria-hidden="true"></i>
          New Folder
        </a>
      </div>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Size</th>
            <th scope="col">Update User</th>
            <th scope="col">Update Time</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody id="rowList">
          {% for item in file_object_list %}
          <tr>
            <td>
              {% if item.file_type == 1 %}
              <i class="fas fa-file"></i>
              {{ item.name }} 
              {% else %}
              <a
                href="{% url 'tracer:file' project_id=request.tracer.project.id %}?folder={{ item.id }}"
              >
                <i class="fas fa-folder" aria-hidden="true"></i>
                {{ item.name }}
              </a>
              {% endif %}
            </td>
            <td>
              {% if item.file_type == 1 %} {{ item.file_size|filesizeformat }} {% else %} - {% endif %}
            </td>
            <td>{{ item.update_user.username }}</td>
            <td>{{ item.update_datetime }}</td>
            <td>
              {% if item.file_type == 2 %}
              <a
                class="btn btn-outline-primary btn-sm"
                data-bs-toggle="modal"
                data-bs-target="#addModal"
                data-whatever="Edit Folder"
                data-name="{{ item.name }}"
                data-fid="{{ item.id }}"
                style="width:35.5px"
              >
                <i class="fas fa-edit" aria-hidden="true"></i>
              </a>
              {% else %}
              <a class="btn btn-outline-primary btn-sm" 
                href= "{% url 'tracer:file_download' project_id=request.tracer.project.id file_id=item.id %}"
                >
                <i class="fas fa-cloud-download" aria-hidden="true"></i>
              </a>

              {% endif %}
              <a
                class="btn btn-danger btn-sm"
                data-bs-toggle="modal"
                data-bs-target="#alertModal"
                data-fid="{{ item.id }}"
              >
                <i class="far fa-trash-alt" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

  <!--Modal-->
  <div class="modal" id="addModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form id="addForm">
            {% csrf_token %}
            <input type="hidden" name="fid" id="fid" />
            {% for field in form %}
            <div class="mb-3">
              <label for="{{field.id_for_label }}" class="form-label fw-bold"
                >{{ field.label }}</label
              >
              {{ field }}
              <span class="error-msg">{{ field.errors.0 }}</span>
            </div>
            {% endfor %}
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button id="btnFormSubmit" type="button" class="btn btn-primary">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--Delete Modal-->
  <div class="modal" id="alertModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div
          class="alert alert-danger alert-dismissible fade show"
          role="alert"
          style="margin-bottom: auto"
        >
          <strong>Are you sure to delete?</strong>
          <p style="padding-top: 20px; padding-bottom: 20px">
            All the files and folders under this folder will be deleted.
          </p>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
          <div style="text-align: right">
            <a
              class="btn btn-primary btn-sm"
              data-bs-dismiss="modal"
              aria-label="Close"
              >Cancel</a
            >
            <button id="btnDelete" type="button" class="btn btn-danger btn-sm">
              Confirm
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- upload progress-->
  <div id="uploadProgress" class="upload-progress d-none">
    <div class="card">
      <div class="card-header">
        <i class="fas fa-cloud-upload" aria-hidden="true"></i> Upload Progress
      </div>
      <table class="table">
        <tbody id="progressList">
        
        </tbody>
      </table>
    </div>
  </div>

  <div class="d-none">
    <table id="progressTemplate">
      <tr>
        <td>
          <div class="name"></div>
          <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
              0%            
            </div>
          </div>
          <div class="progress-error"></div>
        </td>
      </tr>
    </table>
  </div>

  <!--- Table template for file -->
  <div class="d-none">
    <table id="rowTemplate">
      <tr>
        <td>
          <i class="fas fa-file" aria-hidden="true"></i> 
          <span class="name"></span>
        </td>
        <td class="file_size"></td>
        <td class="username"></td>
        <td class="datetime"></td>
        <td>
          <a class="btn btn-outline-primary btn-sm download" style="font-size: 32px 31px">
            <i class="fas fa-cloud-download" aria-hidden="true"></i>
          </a> 
          <a class="btn btn-danger btn-sm delete" data-bs-toggle="modal" data-bs-target="#alertModal">
            <i class="far fa-trash-alt" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
    </table>
  </div>
  {% endblock content %} 
  
  {% block js %}
  <script src="{% static 'js/cos-js-sdk-v5.min.js' %}"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <script>
    var FOLDER_URL =
      "{% url 'tracer:file' project_id=request.tracer.project.id %}";
    var FILE_DELETE_URL =
      "{% url 'tracer:file_delete' project_id=request.tracer.project.id %}";
    var COS_CREDENTIALS =
      "{% url 'tracer:cos_credentials' project_id=request.tracer.project.id %}";
    var FILE_POST =
      "{% url 'tracer:file_post' project_id=request.tracer.project.id %}";
    var CURRENT_FOLDER_ID = "{{ folder_object.id }}";

    $(function () {
      initAddModal();
      bindModalSubmit();
      bindDeleteSubmit();
      bindUploadFile();
    });

    function bindUploadFile() {
      // 通过临时凭证上传文件到tencent cos
      $("#uploadFile").change(function () {
        // 清除上次上传的文件的进度条
        $('#progressList').empty();

        var fileList = $(this)[0].files; // $(this)[0] is the dom object

        // 获取本次要上传的每个文件的名字和大小
        var checkFileList = [];
        
        $.each(fileList, function (index, fileObject) {   
          checkFileList.push({ 'name': fileObject.name, 'size': fileObject.size })
        });
        
        // 把这些数据发送到时django后台，进行校验,校验通过后返回临时凭证再上传，否则提示错误信息 
        var cos = new COS({
          // getAuthorization 必选参数
          getAuthorization: function (options, callback) {
            // 异步获取临时密钥
            // 服务端 JS 和 PHP 例子：https://github.com/tencentyun/cos-js-sdk-v5/blob/master/server/
            // 服务端其他语言参考 COS STS SDK ：https://github.com/tencentyun/qcloud-cos-sts-sdk
            // STS 详细文档指引看：https://cloud.tencent.com/document/product/436/14048

            var url = COS_CREDENTIALS; // url替换成您自己的后端服务
            var xhr = new XMLHttpRequest();
            var dataList = JSON.stringify(checkFileList);
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onload = function (e) {
                
                var res = JSON.parse(e.target.responseText);

                if (res.status){
                    var credentials = res.data.credentials;

                    callback({
                        TmpSecretId: credentials.tmpSecretId,
                        TmpSecretKey: credentials.tmpSecretKey,
                        SecurityToken: credentials.sessionToken,
                        // 建议返回服务器时间作为签名的开始时间，避免用户浏览器本地时间偏差过大导致签名错误
                        StartTime: res.data.startTime, // 时间戳，单位秒，如：1580000000
                        ExpiredTime: res.data.expiredTime, // 时间戳，单位秒，如：1580000000
                    });

                    $("#uploadProgress").removeClass("d-none");
                }
                else{
                    // alert(data.error);
                    swal({
                        title: "Error",
                        text: res.error,
                        icon: "error",
                        button: "OK",
                    });
                  }

            };
            xhr.send(dataList);
          },
        }); // 接下来可以通过 cos 实例调用 COS 请求。

        $.each(fileList, function(index, fileObject){
            var fileName = fileObject.name;
            var fileSize = fileObject.size;
            var key = (new Date()).getTime() + '-' + fileName; // the unique key of the object store on the tencent cos

            // progress-bar 
            var $tr = $("#progressTemplate").find("tr").clone();
            $tr.find(".name").text(fileName);
            $('#progressList').append($tr);
            // 上传文件到cos
            cos.putObject(
            {
              Bucket: "{{ request.tracer.project.bucket }}",
              Region: "{{ request.tracer.project.region }}",
              Key: key,
              StorageClass: "STANDARD",
              Body: fileObject,
              onProgress: function (progressData) {
                var percent = progressData.percent * 100 + "%";
                $tr.find(".progress-bar").css("width", percent);
                $tr.find(".progress-bar").text(percent);
              }
            },
            function (err, data) {
              if(data && data.statusCode === 200){
                // 上传成功，将本次上传的文件名和文件大小添加到数据库中
                // 当前文件上传成功               
                $.post(FILE_POST, {
                  name: fileName,
                  key: key,
                  file_size: fileSize,
                  parent: CURRENT_FOLDER_ID,
                  etag: data.ETag,
                  file_path: data.Location,
                }, function(res){
                  // 在数据库中写入成功，将文件名和文件大小添加到页面中
                  var newTr = $("#rowTemplate").find("tr").clone();
                  newTr.find(".name").text(res.data.name);
                  newTr.find(".file_size").text(res.data.file_size);
                  newTr.find(".username").text(res.data.username);
                  newTr.find(".datetime").text(res.data.datetime);
                  newTr.find(".delete").attr("data-fid",res.data.id);
                  newTr.find(".download").attr("hef",res.data.download_url);

                  $('#rowList').append(newTr);

                  // remove the progress bar
                  $tr.remove()
                })
              }     
              else{
                $tr.find(".progress-bar").text("Upload error");
              }
            }
          );
          }) 
        });
    }

    function initAddModal() {
      $("#addModal").on("show.bs.modal", function (event) {
        var button = $(event.relatedTarget);
        var modal = $(this);
        var title = button.data("whatever");
        var name = button.data("name");
        var fid = button.data("fid");
        modal.find(".modal-title").text(title);

        if (fid) {
          // 编辑文件夹
          modal.find("#id_name").val(name);
          modal.find("#fid").val(fid);
        } else {
          // 新建文件夹
          modal.find(".error-msg").empty();
          $("#addForm")[0].reset();
        }
      });

      // 为模态框绑定关闭事件
      $("#alertModal").on("show.bs.modal", function (event) {
        var button = $(event.relatedTarget);
        var fid = button.data("fid");
        $("#btnDelete").attr("fid", fid);
      });
    }

    function bindModalSubmit() {
      $("#btnFormSubmit").click(function () {
        $.ajax({
          url: location.href,
          type: "POST",
          data: $("#addForm").serialize(),
          dataType: "JSON",
          success: function (res) {
            if (res.status) {
              location.href = location.href;
            } else {
              $.each(res.errors, function (key, value) {
                $("#id_" + key)
                  .next()
                  .text(value[0]);
              });
            }
          },
        });
      });
    }

    function bindDeleteSubmit() {
      $("#btnDelete").click(function () {
        // 获取要删除文件id
        $.ajax({
          url: FILE_DELETE_URL,
          type: "GET",
          data: {
            fid: $(this).attr("fid"),
          },
          dataType: "JSON",
          success: function (res) {
            if (res.status) {
              location.href = location.href;
            } else {
              alert(res.msg);
            }
          },
        });
      });
    }
  </script>
  {% endblock js %}
