{% extends 'layout/basic.html' %}
{% load static %}

{% block title %} Homepage {% endblock title %}

{% block css %}
    <style>
        img {
            width: 100%;
        }
    </style>
{% endblock css %}

{% block content %}
        <div class="container-fluid h-100">
        <img src="{% static 'img/index/index-1.png' %}">
        <img src="{% static 'img/index/index-2.png' %}">
        <img src="{% static 'img/index/index-3.png' %}">
        <img src="{% static 'img/index/index-4.png' %}">
        </div>

{% endblock content %}