{% extends 'layout/manage.html' %}
{% load static %}
{% load issues %}

{% block css %}
 <link rel="stylesheet" href="{% static 'plugin/editor-md/css/editormd.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/bootstrap-select/css/bootstrap-select.min.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link  rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"/>

<style>
    a {
          text-decoration: none;
      }
        .card {
            margin-top: 2rem;
        }
        .table {
            margin-top: 1rem;
        }
        .issue-list .number{
            width: 100px;
            text-align: right;
        }
        .issue-list .number a {
            font-weight: 500;
            padding: 0 10px;        
        }
        .issue-list .issue .tags {
            padding: 10px 0;
        }
        .issue-list .issue .tags span {
            margin-right: 20px;
            display: inline-block;
            font-size: 15px;
            font-weight: 400;
        }
        .issue-list .issue .tags .type {
            color: #fff;
            padding: 1px 5px;
            border-radius: 5px;
        }
        .error-msg {
            color:red;
            position: absolute;
            font-size: 12px;
        }
        .card label {
            font-weight: 500;
            text-align: center;
        }
        nav {
            margin-top: 1rem;
        }
        .filter_area .item {
            margin-bottom: 1.5rem;
        }
        .filter_area .item .title {
            padding: 5px 0;
            font-weight: 300;
        }
        .filter_area .item .check-list a {
            text-decoration: none;
            display: inline-block;
            min-width: 65px;
        }
        .filter_area .item .check-list label {
            font-weight: 200;
            font-size: 15px;
            margin-left: 5px;
        }
        .filter_area .item .check-list a:hover {
            font-weight: 300;
        }
        .filter_area .item .check-list .cell {
            margin-right: 10px;
        }
</style>

{% endblock css %}

{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header"> 
                    <i class="fas fa-search"></i> Filter
                </div>
                <div class="card-body filter_area">
                    {% for item in all_filter %}
                        {% if item.choices.filter_type == 'Checkbox' %}
                        <div class="item">
                            <div class="title">
                                {% if item.name == 'status' %}
                                    <i class="fas fa-tags"></i> {{ item.name|capfirst }}
                                {% elif item.name == 'priority' %}
                                    <i class="fa-solid fa-bookmark"></i> {{ item.name|capfirst }}
                                {% else%}
                                    <i class="fa-solid fa-tape"></i> Issues type
                                {% endif %}
                            </div>
                            <div class="check-list">
                                {% for choice in item.choices %}
                                    <a class="cell" href="{{ choice.url }}"><input type="checkbox" {{ choice.check_or_select }} /><label>{{ choice.text }}</label></a>
                                {% endfor %}
                             </div>
                        </div>
                        {% else %}
                            <div class="item">
                                <div class="title">
                                    {% if item.name == 'assign' %}
                                    <i class="fa-solid fa-hand-point-right"></i> {{ item.name|capfirst }}
                                    {% else %}
                                    <i class="fa-solid fa-people-carry-box"></i> {{ item.name|capfirst }}
                                    {% endif %}
                                </div>
                                <div class="check-list">
                                    {% for choice in item.choices %}
                                        <select class="select2" multiple="multiple" style="width: 100%">
                                            <option value="{{ choice.url }}" {{ choice.check_or_select }}>{{ choice.text }}</option>
                                        </select>
                                    {% endfor %}
                                 </div>
                        </div>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="card">
                <div class="card-header">
                    <div>
                        <i class="fab fa-quora"></i> Questions
                    </div>
                </div>
                <div class="card-body">
                    <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addModal">New Issue</a>
                    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#inviteModal">Invite Member</a>

                    <table class="table border-top">
                        <tbody class="issue-list">
                            {% for item in page_obj %}
                                <tr>
                                    <td class="number">
                                        <i class="fas fa-circle text-{{item.priority}}"></i>
                                        <a target="_blank" href="{% url 'tracer:issues_detail' project_id=request.tracer.project.id issue_id=item.id %}">{% string_just item.id %}</a>
                                    </td>
                                    <td class="issue">
                                        <div>
                                            <a target="_blank" href="{% url 'tracer:issues_detail' project_id=request.tracer.project.id issue_id=item.id %}">
                                                {{ item.subject }}</a>
                                        </div>
                                        <div class="tags">
                                            <span class="type" style="background-color: {% get_issue_type_color item.issues_type.title %}">
                                                {{ item.issues_type.title }}
                                            </span>
                                            <span><i class="fas fa-refresh"></i> {{ item.get_status_display }}</span>
                                            {% if item.assign %}
                                            <span>
                                                <i class="far fa-hand-point-right"></i> {{item.assign.username}}
                                            </span>
                                            {% endif %}
                                            <span><i class="far fa-user"></i> {{item.creator.username}}</span>
                                            {% if item.end_date %}
                                            <span>
                                                <i class="far fa-calendar-times"></i> {{ item.end_date }} end
                                            </span>

                                            {% endif %}
                                            <span><i class="far fa-clock"></i> {{item.latest_update_datetime}} updated</span>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                     </table>
                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                     <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}> <a class="page-link" href="?page=1">&laquo; 1</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    
                    {% if page_obj.has_next %}
                    <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
                    
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    </div>


    <!--Modal-->
    <div class="modal fade" id="addModal" tabindex="-1" aria-hidden="true">
         <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New Issue</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                        <form id="addForm" method="POST">
                            {% csrf_token %}
                              <div class="row mb-3">
                                <label for="{{ form.issues_type.id_for_label }}" class="col-sm-2 col-form-label">
                                    {{ form.issues_type.label }}</label>
                                <div class="col-sm-10">
                                    <div>
                                    {{ form.issues_type}}
                                    </div>
                                    <span class="error-msg"></span>
                                </div>
                              </div>
                            <div class="row mb-3">
                                <label for="{{ form.subject.id_for_label }}" class="col-sm-2 col-form-label">
                                    {{ form.subject.label }}</label>
                                <div class="col-sm-10">
                                    <div>
                                    {{ form.subject}}
                                    </div>
                                    <span class="error-msg"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="{{ form.module.id_for_label }}" class="col-sm-2 col-form-label">
                                    {{ form.module.label }}</label>
                                <div class="col-sm-10">
                                    {{ form.module}}
                                    <span class="error-msg"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="{{ form.desc.id_for_label }}" class="col-sm-2 col-form-label">
                                    {{ form.desc.label }}</label>
                                <div class="col-sm-10">
                                    <div id="editor">
                                        {{ form.desc }}
                                    </div> 
                                    <span class="error-msg"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="{{ form.status.id_for_label }}" class="col-sm-4 col-form-label">
                                            {{ form.status.label }}</label>
                                        <div class="col-sm-8">
                                            <div>
                                            {{ form.status}}
                                            </div>
                                            <span class="error-msg"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="{{ form.priority.id_for_label }}" class="col-sm-4 col-form-label">
                                            {{ form.priority.label }}</label>
                                        <div class="col-sm-8">
                                            <div>
                                            {{ form.priority}}
                                            </div>
                                            <span class="error-msg"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="{{ form.assign.id_for_label }}" class="col-sm-4 col-form-label">
                                            {{ form.assign.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form.assign}}
                                            <span class="error-msg"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="{{ form.attention.id_for_label }}" class="col-sm-4 col-form-label">
                                            {{ form.attention.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form.attention}}
                                            <span class="error-msg"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="{{ form.start_date.id_for_label }}" class="col-sm-4 col-form-label">
                                            {{ form.start_date.label }}</label>
                                        <div class="col-sm-8">
                                            <div class="input-group flex-nowrap">  
                                                <span class="input-group-text" id="addon-wrapping">
                                                    <i class="fa-solid fa-calendar-days"></i> </span>
                                                {{ form.start_date }}
                                            </div>
                                            <span class="error-msg"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="{{ form.end_date.id_for_label }}" class="col-sm-4 col-form-label">
                                            {{ form.end_date.label }}</label>
                                        <div class="col-sm-8">
                                            <div class="input-group flex-nowrap">
               
                                               <span class="input-group-text" id="addon-wrapping">
                                                    <i class="fa-solid fa-calendar-days"></i> </span>
                                                    {{ form.end_date }}
                                            </div>
                                            <span class="error-msg"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="{{ form.mode.id_for_label }}" class="col-sm-4 col-form-label">
                                            {{ form.mode.label }}</label>
                                        <div class="col-sm-8">
                                            <div>
                                            {{ form.mode}}
                                            </div>
                                            <span class="error-msg"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="{{ form.parent.id_for_label }}" class="col-sm-4 col-form-label">
                                            {{ form.parent.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form.parent}}
                                            <span class="error-msg"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnAddSubmit">Add</button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block js %}
<script src="{% static 'plugin/editor-md/editormd.min.js' %}"></script>
<script src="{% static 'plugin/editor-md/languages/en.js' %}"></script>
<script src="{% static 'plugin/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
    var WIKI_UPLOAD_URL = "{% url 'tracer:wiki_upload' project_id=request.tracer.project.id %}";
    var POST_ISSUES = "{% url 'tracer:issues' project_id=request.tracer.project.id %}";

    $( function () {
        bindBootStrapShownEvent();
        initDatePicker();
        bindAddSubmit();
        bindClickCheckFilter();
        initSelect2();
    });
           /*
        添加对话框：初始化时间选择
         */
    function initDatePicker() {

            $('#id_start_date,#id_end_date').datepicker({
                format: 'yyyy-mm-dd',
                startDate: '0',
                autoclose: true,
                todayHighlight: true,
            });
        }
    /*
     * 初始化MDEditor
     */
    function bindBootStrapShownEvent(){
        $('#addModal').on('shown.bs.modal', function () {
            // Modal弹出时，初始化MDEditor
            initEditorMd();
        })
    }

    function initEditorMd(){
        editormd('editor',{
            height: 500,
            placeholder: "Write your content here",
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp","svg"],
            imageUploadURL: WIKI_UPLOAD_URL,
            path: "{% static 'plugin/editor-md/lib/' %}",
        })
    }

    function bindAddSubmit(){
        $('#btnAddSubmit').click(function(){
            $('#addForm').find('.error-msg').empty();
            $.ajax({
                url: POST_ISSUES,
                type: "POST",
                data: $('#addForm').serialize(),
                dataType: "JSON",
                success: function(res){
                    if(res.status){
                        // location.href = location.href;
                        location.reload();
                }else{
                    $.each(res.error, function(key, value){
                        $('#id_'+key).parent().next('.error-msg').text(value[0]);
                    })
                }
            }
        });
    });
    }

    function bindClickCheckFilter(){
        $('.filter_area').find(':checkbox').click(function(){
            location.href = $(this).parent().attr('href');
        })
    }

    function initSelect2(){
        $('.select2').select2({
        }).on('select2:select',function(e){
            // 选中某个值后，触发change事件
            location.href = e.params.data.id;
        }).on('select2:unselect', function(e){
            // 移除某个值后，触发change事件
            location.href = e.params.data.id;
        });
    }
</script>
{% endblock js %}