{% extends 'layout/manage.html' %}

{% block css %}
<style> a {
          text-decoration: none;
      }
        .row {
            margin-top: 3rem;
        }
        .table {
            margin-top: 1rem;
        }
        .issue-list .number{
            width: 100px;
            text-align: right;
        }
        .issue-list .number a {
            font-weight: 500;
            padding: 0 10px;        
        }
        .issue-list .issue .tags {
            padding: 10px 0;
        }
        .issue-list .issue .tags span {
            margin-right: 20px;
            display: inline-block;
            font-size: 15px;
            font-weight: 400;
        }
        .issue-list .issue .tags .type {
            color: #fff;
            padding: 1px 5px;
            border-radius: 5px;
        }
</style>

{% endblock css %}

{% block content %}
      <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header"> 
                    <i class="fas fa-search"></i> Filter
                </div>
                <div class="card-body"></div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="card">
                <div class="card-header">
                    <div>
                        <i class="fab fa-quora"></i> Questions
                    </div>
                </div>
                <div class="card-body">
                    <a class="btn btn-success btn-sm" data-toggle="modal" data-target="#addModal">New Issue</a>
                    <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#inviteModal">Invite Member</a>

                    <table class="table border-top">
                        <tbody class="issue-list">
                            <tr>
                                <td class="number">
                                    <i class="fas fa-circle text-danger"></i>
                                    <a href="#">#010</a>
                                </td>
                                <td class="issue">
                                    <div>
                                        <a href="#">go somewhere</a>
                                    </div>
                                    <div class="tags">
                                        <span class="type" style="background-color: #56b8eb">Feature</span>
                                        <span><i class="fas fa-refresh"></i> Sovled</span>
                                        <span><i class="far fa-user"></i> Users</span>
                                        <span><i class="far fa-clock"></i> sometime</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                     </table>
                </div>
            </div>
                <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>


    </div>
{% endblock content %}