{% extends 'layout/manage.html' %}
{% load static %}

{% block css %}
 <link rel="stylesheet" href="{% static 'plugin/editor-md/css/editormd.min.css' %}">
 <link rel="stylesheet" href="{% static 'plugin/bootstrap-select/css/bootstrap-select.min.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style> 
        .card {
            margin-top: 2rem;
        } 
        a{
            text-decoration: none;
        }
        .comment-area .item{
            margin-top: 1rem;
        }
        .comment-area .left-avatar{
            float: left;
            margin-right: 10px;
            display: inline-block;
            width: 30px;
            height: 30px;
            background-color: #304659;
            color: white;
            text-align: center;
            line-height: 30px;
            border-radius: 50%;
        }
        .comment-area .right-info{
            padding-left: 35px;
        }
        .comment-area .right-info .desc .msg {
            display: inline-block;
            padding-right: 20px;
            color: #8c8c8c;
        }

        .comment-area .child {
            padding-left: 55px;
        }
        .comment-area .error-msg {
            color: red;
        }

        .comment-area .reply-user {
            display: inline-block;
            background-color: #ddd;
            color: black;
            padding: 6px 8px;
            margin-left: 20px;
            border-radius: 8px;
            cursor: pointer;
        }
         .comment-area .right-info .text{
            margin-bottom: 0.5rem;
            background-color: aliceblue;
        }
        .error-msg{
            color: red;
            font-size: 12px;
            position: absolute;

        }
</style>

{% endblock css %}

{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-7">
            <div class="card">
                <div class="card-header"> 
                    <i class="far fa-edit"></i> Update Issue
                </div>
                <div class="card-body">
                        <form id="editForm" method="POST">
                            {% csrf_token %}
                              <div class="row mb-3">
                                <label for="{{ form.issues_type.id_for_label }}" class="col-sm-2 col-form-label">
                                    {{ form.issues_type.label }}</label>
                                <div class="col-sm-10">
                                    <div>
                                    {{ form.issues_type}}
                                    </div>
                                    <span class="error-msg"></span>
                                </div>
                              </div>
                            <div class="row mb-3">
                                <label for="{{ form.subject.id_for_label }}" class="col-sm-2 col-form-label">
                                    {{ form.subject.label }}</label>
                                <div class="col-sm-10">
                                    <div>
                                    {{ form.subject}}
                                    </div>
                                    <span class="error-msg"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="{{ form.module.id_for_label }}" class="col-sm-2 col-form-label">
                                    {{ form.module.label }}</label>
                                <div class="col-sm-10">
                                    {{ form.module}}
                                    <span class="error-msg"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="{{ form.desc.id_for_label }}" class="col-sm-2 col-form-label">
                                    {{ form.desc.label }}</label>
                                <div class="col-sm-10">
                                    <div id="editor">
                                        {{ form.desc }}
                                    </div> 
                                    <span class="error-msg"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="{{ form.status.id_for_label }}" class="col-sm-4 col-form-label">
                                            {{ form.status.label }}</label>
                                        <div class="col-sm-8">
                                            <div>
                                            {{ form.status}}
                                            </div>
                                            <span class="error-msg"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="{{ form.priority.id_for_label }}" class="col-sm-4 col-form-label">
                                            {{ form.priority.label }}</label>
                                        <div class="col-sm-8">
                                            <div>
                                            {{ form.priority}}
                                            </div>
                                            <span class="error-msg"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="{{ form.assign.id_for_label }}" class="col-sm-4 col-form-label">
                                            {{ form.assign.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form.assign}}
                                            <span class="error-msg"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="{{ form.attention.id_for_label }}" class="col-sm-4 col-form-label">
                                            {{ form.attention.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form.attention}}
                                            <span class="error-msg"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="{{ form.start_date.id_for_label }}" class="col-sm-4 col-form-label">
                                            {{ form.start_date.label }}</label>
                                        <div class="col-sm-8">
                                            <div class="input-group flex-nowrap">  
                                                <span class="input-group-text" id="addon-wrapping">
                                                    <i class="fa-solid fa-calendar-days"></i> </span>
                                                {{ form.start_date }}
                                            </div>
                                            <span class="error-msg"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="{{ form.end_date.id_for_label }}" class="col-sm-4 col-form-label">
                                            {{ form.end_date.label }}</label>
                                        <div class="col-sm-8">
                                              <div class="input-group flex-nowrap">  
                                                <span class="input-group-text" id="addon-wrapping">
                                                    <i class="fa-solid fa-calendar-days"></i> </span>
                                                {{ form.end_date }}
                                            </div>
                                            <span class="error-msg"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="{{ form.mode.id_for_label }}" class="col-sm-4 col-form-label">
                                            {{ form.mode.label }}</label>
                                        <div class="col-sm-8">
                                            <div>
                                            {{ form.mode}}
                                            </div>
                                            <span class="error-msg"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="{{ form.parent.id_for_label }}" class="col-sm-4 col-form-label">
                                            {{ form.parent.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form.parent}}
                                            <span class="error-msg"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>  
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="card">
                <div class="card-header">
                    <div>
                        <i class="fas fa-history"></i> Operation History
                    </div>
                </div>
                <div class="card-body comment-area">
                   <div class="comment-list">

                   </div>
                   <hr/>
                   <div class="comment-text" id="commentText">
                       <div class="form-outline mb-4">
                            <textarea id="content" rows="8" class="form-control"
                                      placeholder="Please enter the content to reply"></textarea>
                            <span class="error-msg"></span>
                        </div>

                        <input class="btn btn-primary" type="button" id="btnSubmit" value="Send">
                        <div class="reply-user d-none" id="replyUser">
                            Reply <span></span>
                            <i class="fa fa-times-circle" aria-hidden="true" style="color: #9d9d9d;"></i>
                        </div>
                   </div>
                </div>
            </div>
</div>
    </div>
    </div>
<div class="d-none" id="recordTemplate">
  <div class="item clearfix">
      <div class="left-avatar"></div>
      <div class="right-info">
          <pre class="card-header border text"></pre>
          <div class="desc">
              <div class="msg">
                  <i class="fas fa-bullhorn" aria-hidden="true"></i>
                  <span class="type"></span>
              </div>
              <div class="msg">
                  <i class="far fa-user" aria-hidden="true"></i>
                    <span class="user"></span>
              </div>
              <div class="msg">
                  <i class="far fa-clock" aria-hidden="true"></i>
                    <span class="date"></span>
              </div>

              <a href="#commentText" class="reply">
                  <i class="far fa-comment-dots"></i> Reply
              </a>
          </div>
      </div>
      <div class="child"></div>
  </div>
</div>


{% endblock content %}

{% block js %}
<script src="{% static 'plugin/editor-md/editormd.min.js' %}"></script>
<script src="{% static 'plugin/editor-md/languages/en.js' %}"></script>
<script src="{% static 'plugin/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    let WIKI_UPLOAD_URL = "{% url 'tracer:wiki_upload' project_id=request.tracer.project.id %}";
    let ISSUES_RECORD_API = "{% url 'tracer:issues_record' project_id=request.tracer.project.id issue_id=issues_object.id %}";
    let ISSUES_CHANGE_API = "{% url 'tracer:issues_change' project_id=request.tracer.project.id issue_id=issues_object.id %}";
    let EDITOR;

    $(function () {
        initEditorMd();
        initIssueRecord();
        initDatePicker();
        bindReply();
        bindCancelReplyUser();
        bindSubmit();
        bindChangeIssues();
    });
    function initDatePicker() {

            $('#id_start_date,#id_end_date').datepicker({
                format: 'yyyy-mm-dd',
                startDate: '0',
                autoclose: true,
                todayHighlight: true,
            });
        }
    /*
     * 初始化MDEditor
     */
    function initEditorMd(){
        EDITOR = editormd('editor',{
            height: 500,
            placeholder: "Write your content here",
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp","svg"],
            imageUploadURL: WIKI_UPLOAD_URL,
            path: "{% static 'plugin/editor-md/lib/' %}",
            toolbarAutoFixed: false,
            toolbarIcons: function () {
                    return ["bold", "hr", "del", "italic", "quote", "|", "image", "preview", "watch", "fullscreen", "||", "save"]
                },
            toolbarCustomIcons: {
                    save: "<input type='button' value='Save' class='btn btn-success btn-sm' onclick='saveDesc();' />"
                },
            onload: function() {
                this.previewing();
            },
        })
    }

    function initIssueRecord(){
        $.ajax({
            url:ISSUES_RECORD_API,
            type:"GET",
            dataType:"JSON",
            success: function(res){
                if(res.status){
                    $.each(res.data, function(index, item){
                        createRecordNode(item);
                    });}
                    else{

                    }
                }
        })
    }
    /*创建操作记录的函数 */
    function createRecordNode(nodeDict){
        let $item = $("#recordTemplate").find('.item').clone();
        $item.find('.left-avatar').html(nodeDict.creator[0].toUpperCase());
        $item.find('pre').html(nodeDict.content);
        $item.find('.user').html(nodeDict.creator);
        $item.find('.type').html(nodeDict.reply_type_text);
        $item.find('.date').html(nodeDict.datetime);

        $item.attr({id:nodeDict.id, username:nodeDict.creator});

        if(nodeDict.parent_id){
            $('#'+nodeDict.parent_id).children('.child').append($item);
        }else{
            $('.comment-list').append($item);
        }
    }

    /*
     * 回复操作
     */
     function bindReply(){
         $('.comment-list').on('click', '.reply', function() {
             var $item = $(this).parent().parent().parent();
             var id = $item.attr('id');
             var username = $item.attr('username');
             $('#replyUser').removeClass('d-none').attr('parent-id', id).children('span').text(username);
         })
     }

    /*取消回复 */
    function bindCancelReplyUser(){
        $('#replyUser').click(function() {
            $(this).addClass('d-none').removeAttr('parent-id').children('span').text("");
        })
    }

    /*
     * 提交回复
     */
    function bindSubmit(){
         $('#btnSubmit').click(function(){
            $('#commentText .error-msg').text("");
            $.ajax({
                url:ISSUES_RECORD_API,
                type:"POST",
                dataType:"JSON",
                data: {
                        content: $('#content').val(),
                        reply: $('#replyUser').attr('parent-id')},
                success: function(res){
                    if(res.status){
                        createRecordNode(res.data);
                        $('#replyUser').addClass('d-none').removeAttr('parent-id').children('span').text("");
                        $('#content').val("");
                    }else{
                        $.each(res.error, function(key, value){
                            $('#content').next('.error-msg').text(value[0]);
                        })
                    }
                }
            });
         })
        }

     
    
    function bindChangeIssues() {
        $('#editForm').find('.form-control').change(function () {
            // 内容变更
            let toSend = $(this).val()
            if(toSend !== ""){
                let postDict = {name: $(this).attr('name'), value: toSend};
                postAjaxData(postDict);
            }    

        });
    }

    function saveDesc() {
        let postDict = {name: 'desc', value: EDITOR.getValue()};
        postAjaxData(postDict);
    }

    function postAjaxData(postDict) {
        $('#id_' + postDict.name).parent().next('.error-msg').text("");

        $.ajax({
            url: ISSUES_CHANGE_API,
            type: "POST",
            header: {
                "Content-Type": "application/json;charset=utf-8"
            },
            data: JSON.stringify(postDict),
            dataType: "JSON",
            success: function (res) {
                if (res.status) {
                    createRecordNode(res.data);
                } else {
                    $('#id_' + postDict.name).parent().next('.error-msg').text(res.error);
                }
            }
        })
    }

</script>
{% endblock js %}