{% extends 'layout/manage.html' %}
{% load static %}

{% block css %}
 <link rel="stylesheet" href="{% static 'plugin/editor-md/css/editormd.min.css' %}">
 <link rel="stylesheet" href="{% static 'plugin/bootstrap-select/css/bootstrap-select.min.css' %}">

<style> 
        .card {
            margin-top: 2rem;
        } 
</style>

{% endblock css %}

{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-7">
            <div class="card">
                <div class="card-header"> 
                    <i class="far fa-edit"></i> Update Issue
                </div>
                <div class="card-body">
                    {{ form.media }}
                        <form id="editForm" method="POST">
                            {% csrf_token %}
                              <div class="row mb-3">
                                <label for="{{ form.issues_type.id_for_label }}" class="col-sm-2 col-form-label">
                                    {{ form.issues_type.label }}</label>
                                <div class="col-sm-10">
                                    <div>
                                    {{ form.issues_type}}
                                    </div>
                                    <span class="error-msg"></span>
                                </div>
                              </div>
                            <div class="row mb-3">
                                <label for="{{ form.subject.id_for_label }}" class="col-sm-2 col-form-label">
                                    {{ form.subject.label }}</label>
                                <div class="col-sm-10">
                                    <div>
                                    {{ form.subject}}
                                    </div>
                                    <span class="error-msg"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="{{ form.module.id_for_label }}" class="col-sm-2 col-form-label">
                                    {{ form.module.label }}</label>
                                <div class="col-sm-10">
                                    {{ form.module}}
                                    <span class="error-msg"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="{{ form.desc.id_for_label }}" class="col-sm-2 col-form-label">
                                    {{ form.desc.label }}</label>
                                <div class="col-sm-10">
                                    <div id="editor">
                                        {{ form.desc }}
                                    </div> 
                                    <span class="error-msg"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="{{ form.status.id_for_label }}" class="col-sm-4 col-form-label">
                                            {{ form.status.label }}</label>
                                        <div class="col-sm-8">
                                            <div>
                                            {{ form.status}}
                                            </div>
                                            <span class="error-msg"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="{{ form.priority.id_for_label }}" class="col-sm-4 col-form-label">
                                            {{ form.priority.label }}</label>
                                        <div class="col-sm-8">
                                            <div>
                                            {{ form.priority}}
                                            </div>
                                            <span class="error-msg"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="{{ form.assign.id_for_label }}" class="col-sm-4 col-form-label">
                                            {{ form.assign.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form.assign}}
                                            <span class="error-msg"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="{{ form.attention.id_for_label }}" class="col-sm-4 col-form-label">
                                            {{ form.attention.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form.attention}}
                                            <span class="error-msg"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="{{ form.start_date.id_for_label }}" class="col-sm-4 col-form-label">
                                            {{ form.start_date.label }}</label>
                                        <div class="col-sm-8">
                                            <div class="input-group flex-nowrap">
                                                {{ form.start_date}}
                                            </div>
                                            <span class="error-msg"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="{{ form.end_date.id_for_label }}" class="col-sm-4 col-form-label">
                                            {{ form.end_date.label }}</label>
                                        <div class="col-sm-8">
                                            <div class="input-group flex-nowrap">
                                                {{ form.end_date}}
                                            </div>
                                            <span class="error-msg"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="{{ form.mode.id_for_label }}" class="col-sm-4 col-form-label">
                                            {{ form.mode.label }}</label>
                                        <div class="col-sm-8">
                                            <div>
                                            {{ form.mode}}
                                            </div>
                                            <span class="error-msg"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="{{ form.parent.id_for_label }}" class="col-sm-4 col-form-label">
                                            {{ form.parent.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form.parent}}
                                            <span class="error-msg"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>  
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="card">
                <div class="card-header">
                    <div>
                        <i class="fas fa-history"></i> Operation History
                    </div>
                </div>
                <div class="card-body">
                   
                </div>
          
        </div>
    </div>


{% endblock content %}

{% block js %}
<script src="{% static 'plugin/editor-md/editormd.min.js' %}"></script>
<script src="{% static 'plugin/editor-md/languages/en.js' %}"></script>
<script src="{% static 'plugin/bootstrap-select/js/bootstrap-select.min.js' %}"></script>

<script>
    var WIKI_UPLOAD_URL = "{% url 'tracer:wiki_upload' project_id=request.tracer.project.id %}";

    $( function () {
        initEditorMd();
    });

    /*
     * 初始化MDEditor
     */
    function initEditorMd(){
        editormd('editor',{
            height: 500,
            placeholder: "Write your content here",
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp","svg"],
            imageUploadURL: WIKI_UPLOAD_URL,
            path: "{% static 'plugin/editor-md/lib/' %}",
            onload: function() {
                this.previewing();
            },
        })
    }

</script>
{% endblock js %}