{% extends 'layout/manage.html' %} {% block css %}
<style>

  .project {
    margin-top: 10px;
  }

  .card {
    margin-bottom: 20px;
  }

  .card-body {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .card-body > .item {
    border-radius: 6px;
    width: 228px;
    border: 1px solid #dddddd;
    margin: 20px 10px;
  }
  .card-body > .item:hover {
    border: 1px solid #f0ad4e;
  }
  .card-body > .item > .title {
    height: 104px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-size: 20px;
    text-decoration: none;
  }
  .card-body > .item > .info {
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    color: "#8c8c8c";
  }
  .card-body > .item > .info a {
    text-decoration: none;
  }
  .card-body > .item > .info .fa-star {
    font-size: 18px;
  }

  .color-radio label {
      margin-left: 0;
      padding-left: 0;
  }
  .color-radio input[type="radio"] {
    display: none;
    }
    
    .color-radio input[type="radio"] + .circle {
        display: inline-block;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        border: 2px solid #dddddd;
    }
    .color-radio input[type="radio"]:checked + .circle {
      border: 2px solid #3f3f3f;
    }

</style>
{% endblock css %} {% block content %}
<div class="container-fluid project">
  <div style="margin: 20px 0">
    <a
      class="btn btn-outline-primary btn-lg"
      data-bs-toggle="modal"
      data-bs-target="#modal"
      ><i class="fas fa-plus-circle"></i> New Project</a
    >
  </div>
  <div class="card">
    <div class="card-header"><i class="fas fa-star"></i> Stared Projects</div>
    <div class="card-body">
      {% for item in project_dict.star_project %}
      <div class="item">
        <a
          href="{% url 'tracer:dashboard' project_id=item.value.id %}"
          class="title"
          style="background-color:{{item.value.get_color_display}}"
          >{{item.value.name}}</a
        >

        <div class="info">
          <div>
            <a href="{% url 'tracer:project_unstar' project_type=item.type project_id=item.value.id %}">
              <i
                class="fas fa-star"
                aria-hidden="true"
                style="color: #f0ad4e"
              ></i>
            </a>
            <span> {{item.value.creator.username}} </span>
          </div>
          <div>
            <i class="far fa-user" aria-hidden="true"></i>
            <span> {{ item.value.join_count }} </span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="card">
    <div class="card-header"><i class="fas fa-list"></i> My Projects</div>
    <div class="card-body">
      {% for item in project_dict.my_project %}
      <div class="item">
        <a
          href="{% url 'tracer:dashboard' project_id=item.id %}"
          class="title"
          style="background-color:{{item.get_color_display}}"
          >{{item.name}}</a
        >

        <div class="info">
          <div>
            <a href="{% url 'tracer:project_star' project_type='my_project' project_id=item.id %}">
              <i
                class="fas fa-star"
                aria-hidden="true"
                style="color: #d5d5d5"
              ></i>
            </a>
            <span> {{item.creator.username}} </span>
          </div>
          <div>
            <i class="far fa-user" aria-hidden="true"></i>
            <span>{{item.join_count}}</span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <i class="far fa-handshake"></i> Joined Projects
    </div>
    <div class="card-body">
      {% for item in project_dict.join_project %}
      <div class="item">
        <a
          href="{% url 'tracer:dashboard' project_id=item.id %}"
          class="title"
          style="background-color:{{item.get_color_display}}"
          >{{item.name}}</a
        >

        <div class="info">
          <div>
            <a href="{% url 'tracer:project_star' project_type='join_project' project_id=item.id %}">
              <i
                class="fas fa-star"
                aria-hidden="true"
                style="color: #d5d5d5"
              ></i>
            </a>
            <span> {{item.creator.username}} </span>
          </div>
          <div>
            <i class="far fa-user" aria-hidden="true"></i>
            <span>{{item.join_count}}</span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create A New Project</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="addForm">
          {% csrf_token %} {% for field in form %}
          <div class="mb-3">
            <label for="{{field.id_for_label }}" class="form-label fw-bold"
              >{{ field.label }}</label
            >
            {{ field }}
            <span class="error-msg"></span>
          </div>
          {% endfor %}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button id="btnSubmit" type="button" class="btn btn-primary">
          Save Changes
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block js %}
<script>
  $(function () {
    bindSubmit();
  });

  function bindSubmit() {
    $("#btnSubmit").click(function () {
      $.ajax({
        url: "{% url 'tracer:project_list' %}",
        type: "POST",
        data: $("#addForm").serialize(),
        dataType: "JSON",
        success: function (res) {
          if (res.status) {
            location.href = location.href;
          } else {
            $.each(res.errors, function (key, value) {
              $("#id_" + key)
                .next()
                .text(value[0]);
            });
          }
        },
      });
    });
  }
</script>
{% endblock js %}
