{% extends 'layout/basic.html' %}
{% load static %}

{% block title %} register {% endblock title %}

{% block css %}
 
    {% comment %} <link rel="stylesheet" href="{% static 'css/account.css' %}"> {% endcomment %}
    <style>
        .error-msg {
            color:red;
            position: absolute;
            font-size: 12px;
        }
    </style>
{% endblock css %}

{% block content %}
<section class="vh-100">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                <form  id="form" class="mx-1 mx-md-4" method="POST" novalidate>
                    
                {% csrf_token %}
                
                <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example1c">Username</label>
                      {{ form.username }}
                      <span class="error-msg"> </span>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example3c">Your Email</label>
                      {{ form.email }}
                      <span class="error-msg">  </span>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example4c">Password</label>
                      {{ form.password }}
                      <span class="error-msg"></span>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example4cd">Repeat your password</label>
                        {{ form.confirm_password }}
                        <span class="error-msg"></span>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example4cd">Mobile phone</label>
                        {{ form.mobile_phone }}
                        <span class="error-msg"></span>
                    </div>
                  </div>

                   <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example4cd">Verification code</label>
                            <div class="row">
                            <div class="col">
                                {{ form.code }}
                                <span class="error-msg"></span>
                            </div>
                            <div class="col-auto">
                                <input id="btnSms" type="button" class="btn btn-outline-primary" value="Verify Code">
                            </div>
                        </div>
                    </div>
                  </div>


                  <div class="d-flex mb-3 mb-lg-4">
                    <button id="btnSubmit" type="button" class="btn btn-primary btn-lg">Register</button>
                  </div>

                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--
    <div class="account">
        <div class="title">用户注册</div>
        <form id="form" method="POST" novalidate>
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'code' %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label}}">{{ field.label }}</label>
                        <div class="row">
                            <div class="col">
                                {{ field }}
                                <span class="error-msg"> {{ field.errors.0 }} </span>
                            </div>
                            <div class="col-auto">
                                <input id="btnSms" type="button" class="btn btn-outline-primary" value="点击获取验证码">
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label}}">{{ field.label }}</label>                
                        {{ field }}
                        <span class="error-msg"> {{ field.errors.0 }} </span>        
                    </div>
                {% endif %}
            {% endfor %}
            <div class="row">
                <div class="col-xs-3">
                    <input type="submit" type="button" class="btn btn-primary" value="注 册"/>
                </div>
        </form>
    </div>
-->   
{% endblock content %}  
{% block js %}
    <script>
        // 页面框架加载完成之后自动执行的js代码
        $(function() {
            bindClickBtnSms();
            bindClickBtnSubmit();
        });

        function bindClickBtnSms() {
            $('#btnSms').click(function() {

                // 清除错误提示
                $('.error-msg').empty();

                var mobilePhone = $('#id_mobile_phone').val();

                // 发送ajax请求
                $.ajax({
                    url: "{% url 'tracer:send_sms' %}",
                    type: 'GET',
                    data: {
                        mobile_phone: mobilePhone, tpl: "register"
                    },
                    dataType: 'JSON',
                    success: function(res) {
                        if(res.status){
                            sendSmsRemind(60);
                        }else{
                            $.each(res.errors, function(key, value) {
                                $('#id_' + key).next().text(value[0]);
                            });
                        }
                    }
                });
            })
        }

        // 发送短信验证码
        function sendSmsRemind(time) {
            var $smsBtn = $('#btnSms');
            $smsBtn.attr('disabled', true);
            $smsBtn.val(time + 's resend');
            var timer = setInterval(function() {
                time--;
                $smsBtn.val(time + 's resend');
                if(time <= 0) {
                    clearInterval(timer);
                    $smsBtn.attr('disabled', false);
                    $smsBtn.val('Verify Code');
                }
            }, 1000);
        }

        // 点击提交按钮
        function bindClickBtnSubmit() {
            $('#btnSubmit').click(function() {
                // 清除错误提示
                $('.error-msg').empty();

                // 包含所有form表单的数据和csrf_token
                var formData = $('#form').serialize();

                // 发送ajax请求
                $.ajax({
                    url: "{% url 'tracer:register' %}",
                    type: 'POST',
                    data: formData,
                    dataType: 'JSON',
                    success: function(res) {
                        if(res.status){
                            window.location.href = res.data;
                        }else{
                            $.each(res.errors, function(key, value) {
                                $('#id_' + key).next().text(value[0]);
                            });
                        }
                    }
                }); 
            })
        }
    </script>
{% endblock js %}	

