  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      href="#"
      id="navbarDropdown"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Project  {% if request.tracer.project %}({{request.tracer.project.name}}){% endif %}
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      {% if my_project %}
      <li style="color: #0D6EFD"><i class="fas fa-list">

      </i> My projects</li>

      {% for item in my_project %}
      <li><a class="dropdown-item" href="{% url 'tracer:dashboard' project_id=item.id %}">{{item.name}}</a></li>
      {% endfor %} {% endif %} {% if join_project %}

      <li><hr class="dropdown-divider" /></li>
      
      <li style="color: #0D6EFD"><i class="far fa-handshake"></i> Join projects</li>
      {% for item in join_project %}
      <li><a class="dropdown-item" href="{% url 'tracer:dashboard' project_id=item.project.id %}">{{item.project.name}}</a></li>
      {% endfor %} {% endif %}
      
      <li><hr class="dropdown-divider" /></li>

      <li><a class="dropdown-item" href="{% url 'tracer:project_list' %}">All projects</a></li>
    </ul>
  </li>

